
/*Globales*/
@font-face {
    font-family: The Castle Elizah;
    src: url(fonts/TheCastleElizah.ttf);
    src: url(fonts/TheCastleElizah.otf);
    src: url(fonts/TheCastleElizah.woff);
}

body {
    max-width: 1280px;
    margin:0 auto;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

header {
    background-color: rgb(212, 189, 255);
}

.logo {
    border-radius: 10%;
    display: inline-block;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.menu{
    padding: 1%;
    animation: BGcolorChanging-2colors 5s linear infinite alternate both;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    font-size: 28x;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
    margin-left: 10%;
    margin-right: 10%;  
    line-height : 25px;
    text-align: justify;
    font-size: 18px;
}

span {
    color: rgb(255, 56, 228);

}

/* Titulos */
h1{
    position:center;
    text-align: center;
    margin: 0 auto;
    font-size: 55px;
    display: inline-block;
    font-family: "The Castle Elizah";
    background: linear-gradient(to right, rgb(201, 121, 238), #472877);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  h2 {
    position:center;
    margin-left: 10%;
    margin-right: 10%;
    width: 50%;
    font-size: 45px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(67, 21, 119);
  }
  
  h2:hover {
      filter:drop-shadow(3.2px 3.2px 4px #6d4394);
  }

  /* Index details */
.montana {
    max-width: 1280px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    filter: brightness(85%);
}

.montana:hover {
    filter:drop-shadow(10px 10px 4px #41225e);
    filter: none;
}

.box-done{
    padding: 10px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(223, 214, 255);
    list-style-type: none;
    display: inline-block;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    border-radius: 10px;
    background-color: rgb(74, 43, 146);
}

.box-undone{
    padding: 10px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 60px;
    color: rgb(229, 214, 255);
    top: 800px;
    list-style-type: none;
    display: inline-block;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    border-radius: 10px;
    background-color: rgb(99, 64, 180);
}

.box-done:hover, .box-undone:hover {
    filter: brightness(70%);
    cursor: pointer;
}

ul {
    list-style-type: none;
    display: inline-block;
}

/* Biografia */
.textoOculto{
    display: none;
}

.yo {
    max-width: 180px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    border-radius: 10px;
    filter: brightness(80%);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.yo:hover {
    filter: none;
    cursor: pointer;
}

#readMore{
    background-color: rgb(159, 130, 238) ;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 300ms;
    color:seashell;
    padding: left 50px;
    margin-left: 130px;
    height: 30px;
    border-radius: 10px;
}

#readMore:hover {
    transform: scale(0.8);
    background-color: rgb(74, 43, 146);
    
}


/* Galeria */
.index:hover, .bio:hover, .gal:hover{
    background-color: rgb(74, 43, 146);
    color: rgb(216, 185, 252);
}

.index, .bio, .gal {
    padding: 1.5%;
    width: 30%;
}


@keyframes BGcolorChanging-2colors {
    73.333% {
        background-color: rgb(130, 180, 238) ;
    }
    33.333% {
        background-color: rgb(132, 77, 194);
    }
}

.imggal {
    max-width: 250px;
    margin: auto;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    border-radius: 2%;
}

.imggal:hover {
    transform: scale(1.08);
}

#gallery {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 300ms;
    filter: brightness(80%);
}

#gallery:hover {
    filter: none;
}

#mascotas, #familia {
    display: none;
}


#hobbiesBtn, #familiaBtn, #mascotasBtn, #galleryBtn{
    background-color: rgb(159, 130, 238) ;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 300ms;
    color:seashell;
    padding: left 50px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

#hobbiesBtn {
    margin-left: 10%;
}

#hobbiesBtn:hover, #familiaBtn:hover, #mascotasBtn:hover, #galleryBtn:hover {
    transform: scale(0.8);
    background-color: rgb(74, 43, 146);
}

/* Footer */
footer {
    background-color: rgb(159, 130, 238);
    padding: 0.8%;
}